@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
    color: #8400ff;
    cursor: pointer;
}

.d-f{
  display: flex;
}

.j-c-c{
  justify-content: center;
}

.j-c-sb{
  justify-content: space-between;
}

.a-i-c{
  align-items: center;
}

.t-a{
  text-align: center;
}

.flex-d-c{
  flex-direction: column;
}

li{
  list-style: none;
}

